<div class="container ">
<% if current_user %>
    <%= link_to "add office", new_office_path(@office), class:"btn btn-primary m-3" %>
<% end %>

<div id="cardsindex">
<div class="cards">
<% @offices.each do |office| %>
<figure class=" card-category">
	<h2 class="text-black"><%= office.title %></h2>
	<%= cl_image_tag office.photo.key, height: 300, width: 400, crop: :fill %>
	<figcaption>
  <div class></div>
		<h3>
    <% if office.user.name? %>
      <%= office.user.name %>
    <% end %>
		</h3>
		<p><%= office.description %></p>
    <p>price:<%= number_to_currency(office.price) %> </p>
		<button>
			<%= link_to "More info", office, class:"mb-2" %>
		</button>

	</figcaption>
</figure>
<% end %>

</div>
</div>
