<% if current_user %>
    <%= link_to "add office", new_office_path(@office), class:"btn btn-primary" %>
<% end %>

<div class="container">
<div class="row pb-3">
<% @offices.each do |office| %>
    <div class="card1 mb-3">
    <div class="-title"><%= link_to office.title, office %></div>
    <div class="-text"><p><%= office.description %></p></div>
    <p><strong>Price:</strong> <%= number_to_currency(office.price) %></p>
    <% if office.user == current_user %>
        <%= link_to "delete", office_path(office), data: { turbo_method: :delete, turbo_confirm: "Are your sure?" }, class: "btn btn-warning justify-content-between wrn" %>
    <% end %>
    </div>
    <% end %>
  </div>
  </div>
</div>
