<div class="container">
  <h1><%= @office.title %></h1>
  <div class="pics d-flex ">
      <%= cl_image_tag @office.photo.key, height: 300, width: 400, crop: :fill, class:"img-show"  %>
      <div class="img-show" style="height: 350px; width: 100%;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="content">
      <h3><%= @office.price  %> Dh</h3>
      <p><%= @office.description %></p>
       <% if @office.user == current_user %>
        <%= link_to "delete", office_path(@office), data: { turbo_method: :delete, turbo_confirm: "Are your sure?" }, class: "btn btn-warning" %>
    <% end %>
    </div>
    <div class="picker d-flex w-50">
    <% if current_user %>
    <%= simple_form_for  @booking do |f| %>
      <div class="opening-date">
            <%= f.input :start_date,
                  as: :string,
                  minDate: "today",
                  input_html: { data: { controller: "datepicker" } } %>
      </div>
      <div class="end-date">
            <%= f.input :end_date,
                  as: :string,
              minDate: "today",
                  input_html: { data: { controller: "datepicker" } } %>
      </div>
      <%= f.input :office_id, as: :hidden, input_html: {value: @office.id } %>
      <div>
      <%= f.submit "submit" ,  class:"btn btn-primary"%>
      </div>
      <% end %>
      <% end %>
    </div>




  </div>









</div>
